html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--body-color);
  color: var(--text-color-third);
  overflow: auto;
}
:root {
  --body-color: #F9F7F7;
  --color-white: #FFFFFF;
  --text-color-second: #3F72AF;
  --text-color-third: #112d4e;
  --first-color: #3F72AF;
  --second-color: #DBE2EF;
  --third-color: #112D4E;
  --fourth-color: #ffffff;
  --fifth-color: #e2dfdf;
  --dark-body-color: #222831;
  --dark-text-color: #F9F7F7;
  --dark-text-color-third: #222831;
  --dark-first-color: #2fbae1;
  --dark-second-color: #76ABAE;
  --dark-third-color: #EEEEEE;
  --dark-fifth-color: #393E46;
  --first-shadow-color: rgba(255, 255, 255, 0.1);

  --text-color: #112D4E;
  --card-bg: #FFFFFF;
  --card-bg2: #DBE2EF;
  --card-hover: #3F72AF;
  --input-border: #DBE2EF;
  --button-bg: #3F72AF;
  --button-text: #FFFFFF;
  --error-color: #ff4444;
}

.dark-mode {
  --body-color: var(--dark-body-color);
  --text-color-second: var(--dark-text-color);
  --text-color-third: var(--dark-text-color-third);
  --first-color: var(--dark-first-color);
  --second-color: var(--dark-second-color);
  --third-color: var(--dark-third-color);
  --fourth-color: var(--dark-body-color);
  --fifth-color: var(--dark-fifth-color);

  --body-color: #222831;
  --text-color: #EEEEEE;
  --card-bg: #393E46;
  --card-bg2: #393E46;
  --card-hover: #00ADB5;
  --input-border: #00ADB5;
  --button-bg: #00ADB5;
  --button-text: #112D4E;
}

main {
  padding-top: 90px;
}
