.subadmin-list {
    padding: 20px;
}

.filters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.filter-year,
.filter-regno {
    display: flex;
    flex-direction: column;
}

.filter-year label,
.filter-regno label {
    margin-bottom: 5px;
}

.filter-year select,
.filter-regno input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.filter-year {
    margin-right: 30px;
}

.list-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.list-table-format {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.list-table-format.title {
    font-weight: bold;
    background-color: #f4f4f4;
    font-size: 16px;
    gap: 50px;
}

.list-table-format p {
    margin: 0;
    flex: 1;
    text-align: left;
    padding-right: 50px;
}

.list-table-format p:last-child {
    padding-right: 0;
}

.header {
    text-align: center;
    padding: 20px;
    color: rgb(24, 24, 108);
    font-weight: bold;
    font-size: 30px;
}

.remove-button {
    background-color: #e57373;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
