.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
  }
  
  .logo {
    width: 150px;
  }
  
  .profile-container {
    display: flex;
    align-items: center;
  }
  
  .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .logout-button {
    padding: 7px 10px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: 19px;
  }
  
  .logout-button:hover {
    background-color: #c00;
  }
  