<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sortify</title>
    <link rel="icon" href="logo.png" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">  </head>
  <body>
    <div id="sidebar">
        <div id="main-menu">
            <img src="logo.png" height="150px">
            <h1>Sortify</h1>
            <h2>Simplify Your Daily Tasks</h2>
      
        <button id="view-emails">View Categorized Emails</button>
        <button id="submit-request">Generate Mails</button>
            <!-- Logout button, initially hidden -->
        <button id="logout-button">Logout</button>

    </div>
    

    <div id="email-categories" class="hidden">
      <h2>Email Categories</h2>
      <div id="category-list"></div>
      <button id="back-to-menu">Back to Menu</button>
    </div>

    <div id="request-form" class="hidden">
      <h2>Send a mail</h2>
      <form id="request-submission-form">
        <label for="request-type">Request Type:</label>
        <select id="request-type" name="request-type" required>
          <option value="">Select...</option>
          <option value="leave">Leave</option>
          <option value="late-submission">Late Submission</option>
          <option value="outing">Outing</option>
        </select>
        <div id="form-fields"></div>
        <button type="button" id="show-confirmation">Preview Message</button>
      </form>
      <button id="back-to-menu-from-form">Back to Menu</button>
    </div>

    <div id="confirmation-message" class="hidden">
      <h3>Confirmation Message</h3>
      <textarea id="generated-message" rows="30"></textarea>
      <button id="final_submit">Submit Request</button>
      <button id="cancel_submit">Cancel</button>
    </div>

    <script src="popup.js"></script>
</div>
  </body>
</html>
