.dashboard {
    padding: 20px;
}

.greeting {
    margin-bottom: 20px;
    color: var(--text-color-third);
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
}

.box {
    flex: 1 1 calc(50% - 20px);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    border-radius: 8px;
    text-decoration: none; 
}

.box1 {
    background-color: var(--first-color); 
}

.box2 {
    background-color: var(--second-color); 
}

.box3 {
    background-color: var(--third-color); 
}

.box4 {
    background-color: var(--button-bg); 
}

.box-content {
    color: white;
    text-decoration: none;
}

.dark-mode .dashboard {
    background-color: var(--body-color);
}

.dark-mode .greeting {
    color: var(--text-color-second);
}

.dark-mode .box1 {
    background-color: var(--dark-first-color);
}

.dark-mode .box2 {
    background-color: var(--dark-second-color); 
}

.dark-mode .box3 {
    background-color: var(--third-color); 
}

.dark-mode .box4 {
    background-color: var(--button-bg); 
}
