.greeting {
  margin-bottom: 20px;
  color: var(--text-color-third);
}

.dark-mode .greeting {
  color: var(--text-color-second);
}

.segregation {
  padding: 5px 20px;
  background: var(--body-color);
  min-height: 86.3vh;
}

.segregation h1 {
  color: var(--text-color);
}

.segregation h2 {
  color: var(--text-color);
}

.keyword-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.keyword-btn {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--text-color-third);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .keyword-btn {
  border: 2px solid var(--dark-first-color);
  color: var(--dark-text-color);
}

.keyword-btn.selected {
  background-color: var(--first-color);
  color: var(--button-text);
}

.dark-mode .keyword-btn.selected {
  background-color: var(--dark-first-color);
  color: var(--dark-text-color);
}

.add-keyword-btn {
  border: 2px dashed var(--first-color);
}

.input-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.keyword-input {
  padding: 10px;
  border: 2px solid var(--first-color);
  border-radius: 50px;
  width: 200px;
}

.add-btn {
  padding: 10px 20px;
  border: none;
  background-color: var(--first-color);
  color: var(--button-text);
  cursor: pointer;
  border-radius: 50px;
}

.mail-content {
  margin-top: 30px;
}

.mail-section {
  margin-bottom: 30px;
  position: relative;
}

.mail-slider {
  display: flex;
  overflow: hidden;
  gap: 15px;
  padding: 10px 0;
  scroll-behavior: smooth;
}

.mail-item {
  flex: 0 0 auto;
  padding: 10px;
  min-width: 200px;
  border: 1px solid var(--input-border);
  border-radius: 10px;
  background-color: var(--card-bg);
  color: var(--text-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .mail-item {
  background-color: var(--card-bg2);
  color: var(--dark-text-color);
}

.no-mails {
  color: var(--error-color);
  font-weight: bold;
}

.arrow-btn {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  background-color: var(--first-color);
  color: var(--button-text);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.dark-mode .arrow-btn {
  background-color: var(--dark-first-color);
  color: var(--dark-button-text);
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.arrow-btn:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.hidden {
  display: none;
}

.mail-slider::-webkit-scrollbar {
  display: none;
}

.mail-slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 768px) {
  .mail-item {
    min-width: 150px;
  }
}
